.Welcome {
  background-color: #0160FF;
  margin: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.Welcome .centered {
  display: flex;
}

.Welcome img {
    width: 150px;
    height: auto;
    display: block;
    align-self:center;
    margin-left: 50px;
}

.Welcome button {
  padding: 10px 80px;
  background-color: white;
  color: #0160FF;
  font-weight: 800;
  font-size: 24px;
  border: none;
  display: block;
  margin-top: 30px;
  align-self:center;
}

.Welcome button:hover {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}