.Header {
    margin: 0;
    width: 100vw;
    height: 50px;
    background-color: #0160FF;
    padding: 20px;
}

.Header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
}

.Header .Username {
    color: white;
    font-size: 24px;
    margin-left: 20px;
    display: inline-block;
}

.Header button {
    float: right;
    margin-right: 50px;
    background-color: white;
    border-radius: 50%;
    color: #0160FF;
    border: none;
    width: 50px;
    height: 50px;
}

.Header button:hover {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}