.Login {
    background-color: #0160FF;
    margin: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}
  
.Login .centered {
    display: flex;
}

.Login p {
    color: #ffaba8;
    font-size: 14px;
    font-weight: 500;
}

.Login h2 {
    color: white;
}
  
.Login input {
    width: 400px;
    height: 46px;
    background-color: white;
    padding-left: 10px;
    color: #49b9ff;
    border: none;
    font-size: 20px;
    border: none;
    display: block;
    align-self:center;
}

.Login button {
    padding: 10px 174px;
    background-color: #49b9ff;
    color: white;
    font-weight: 800;
    font-size: 24px;
    border: none;
    display: block;
    margin-top: 30px;
    align-self:center;
}
  
.Login button:hover {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}